.conversation {
    height: 80vh;
    margin: 60px auto 0;
    border: 1px solid #c4c4c4;
}

.flow {
    height: 70vh;
    margin: 8px auto 0;
    overflow: auto;
}

.input {
    margin: 12px auto 0;
    border-top: 1px solid #c4c4c4;
}

.option_button{
    border:medium none;
    margin: 1px 1px;
}

.textfield {
    margin-left: 4px;
    height: 24px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
}

.translate_modal{
    padding-top: 15%;
    opacity: 100!important;
}

.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    right: 10px;
    top: 11px;
    width: 33px;
}


.chatbot_dialogue {
    margin: 8px;
    text-align: left;
    max-width: 600px;
}

.chatbot_dialogue span {
    display: inline-block;
    background: #ebebeb;
    border-radius: 12px;
    color: #646464;
    padding: 6px 12px;
}

.chatbot_dialogue span table, th, tr, td {
    border: 1px solid black;
}

.chatbot_dialogue span img {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.chatbot_dialogue span img:hover {
    opacity: 0.7;
}

.student_dialogue {
    margin: 8px;
    text-align: right;
}

.student_dialogue span {
    display: inline-block;
    background: #05728f;
    border-radius: 12px;
    color: #fff;
    padding: 6px 12px;
    max-width: 600px;
}
