.conversation {
    height: 80vh;
    margin: 60px auto 0;
    border: 1px solid #c4c4c4;
}

.flow {
    height: 70vh;
    margin: 8px auto 0;
    overflow: auto;
}

.input {
    margin: 12px auto 0;
    border-top: 1px solid #c4c4c4;
}

.textfield {
    margin-left: 4px;
    height: 24px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
}

.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  right: 10px;
  top: 11px;
  width: 33px;
}


.chatbot_dialogue {
    margin: 8px;
    text-align: left;
}

.chatbot_dialogue span {
    display: inline-block;
    background: #05497a;
    border-radius: 12px;
    color: #fffbfb;
    padding: 6px 12px;
}

.student_dialogue {
    margin: 8px;
    text-align: right;
}

.student_dialogue span {
    display: inline-block;
    background: #00a13a;
    border-radius: 12px;
    color: #fffbfb;
    padding: 6px 12px;
}
