<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Set to ideal viewport -->
    <title>OUHK Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chatbot.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/chatbot.js"></script>
</head>
<body>
<div class="conversation">
    <div class="flow" id="flow_id">
    </div>
    <div class="input">
        </select>
        <input type="text" class="textfield" id="textfield_id">
        <input type="button" value="send" class="buttons" id="sendbutton_id">
        <input type="button" value="voice" class="buttons" id="voicebutton_id">
    </div>
</div>
</body>
</html>