<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Set to ideal viewport -->
    <title>OUHK Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chatbot.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/chatbot.js"></script>
</head>
<body>
<div class="conversation">
    <div class="flow" id="flow_id">
    </div>
    <div class="input">
        </select>
        <input type="text" class="textfield" id="textfield_id">
        <input type="button" value="send" class="buttons" id="sendbutton_id">
        <input type="button" value="voice" class="buttons" id="voicebutton_id">
        <a class='btn btn-small btn-info' href='#'><i class="fas fa-language fa-1x"></i></a>
        <!--<input type="button" value="translate" class="buttons" id="translatebutton_id"> -->
    </div>
</div>
</body>
</html>